<% layout('layouts/boilerplate') %>

<div class='container d-flex justify-content-center align-items-center mt-5'>
  <div class='row'>
    <div class='col-md-6 offset-md-3 col-xl-4 offset-xl-4'>
      <div class='card shadow'>
        <img src='https://res.cloudinary.com/dgntv9bgo/image/upload/v1611343108/YelpCamp/Campground_login_dcav4i.jpg' alt='camping image' id='logAndRegImg'>
        <div class='card-body'>
          <h5 class='card-title mb-3'>Login</h5>
          <form action='/login' method='POST' class='validated-form' novalidate>
            <div class='mb-3'>
              <label class='form-label' for='username'>Username</label>
              <input class='form-control' type='text' id='username' name='username' autofocus required>
              <div class='valid-feedback'>
                Correct!
              </div>
            </div>
            <div class='mb-3'>
              <label class='form-label' for='password'>Password</label>
              <input class='form-control' type='password' id='password' name='password' required>
              <div class='valid-feedback'>
                Correct!
              </div>
            </div>
            <button class='btn btn-success btn-block'>Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>